absl-py
autopep8
torch
torchvision
torchaudio
importlib-metadata<5
chardet
einops
gym==0.21.0
imageio-ffmpeg
imageio
kornia
matplotlib
numpy
onnx
onnxruntime
opencv-python
pycocotools
pyparsing
termcolor
torch
torchaudio
torchvision
tensorboard
tensorboardX
tensorflow
tqdm
xmltodict
pympler
pynvml
wandb
timm